@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap");
body {
    background-size: 1920px 1080px;
    background-color: #afd485;
    font-family:sans-serif; 
}    

/******************* 메뉴 콘테이너 *******************/
#menu-container{
    flex: 1;

    margin: 20px;
    height: 954px;
    padding: 40px;
}
.mainbtn {
    font-family: "Bagel Fat One", cursive;
    font-size: 150px;
    color:rgb(139, 208, 238);

    margin: 30px;
    -webkit-text-stroke: 1px black;
    text-shadow: -3px -3px 0 white, 3px -3px 0 white, -3px 3px 0 white, 3px 3px 0 white;
}
.mainbtn:hover {
    color: rgb(109, 196, 234);
}
.btn {
    position:absolute;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
.imgsize{
    height: 400px;
    width: 400px;
}
.main-container{
    display: flex;
    flex-direction: row;
}

/******************* 메시지 콘테이너 *******************/
#chatting-container {
    flex: 1;

    display: flex;
    flex-direction: column;

    border: 3px solid black;
    border-radius: 15px;
    background-color: white;

    margin: 20px;
    height: 954px;
    padding: 40px;
}
h3 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 60px;
    padding-bottom: 5px;
    border-bottom: 3px solid black;
    margin: 0;
}
/* 메시지 */
#chat-messages {
    flex-direction: column;

    border-bottom: 2px solid black;
    height: 830px;
    
    overflow-y: auto;
    margin: 10px;
    padding: 10px;
    display: flex;
}
.chat_container div{
    margin: 15px;
    padding: 10px;
    font-size: 30px;
    max-width: 500px;
    overflow-wrap: break-word;
    clear: both;
    border-radius: 30px;
}     
.my_message{
    color: rgb(0, 0, 0);
    border: 3px solid #afd485;
    background-color: #afd48593;
    display: inline-block;
    float: right;
}
.chatbot_message{
    float: left;
    color: rgb(0, 0, 0);
    border: 3px solid #afd48593;

}
/* 메시지 입력 */
#user-input {
    display: flex;
    padding: 10px;
}
#user-input input {
    border: 3px solid rgb(197, 197, 197);
    border-radius: 15px;
    margin-right: 10px;
    width: auto;
    padding: 10px;
    font-size: 30px;      
    flex: 1;
}
#user-input button {
    border: 3px solid #808080;
    font-size: 30px;
    border-radius: 15px;
    background-color: rgb(197, 197, 197);
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100px;
    margin: 0;
}
#user-input button:hover {
    background-color:  #808080;
}