@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap");
.mainbtn {
  position:absolute;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  top: 20px;
  left: 60px;
  font-family: "Bagel Fat One", cursive;
  font-size: 60px;
  color:rgb(139, 208, 238);
  -webkit-text-stroke: 2px rgb(0, 0, 0);
  z-index: 1;
}
.mainbtn:hover {
  color: rgb(109, 196, 234);
}
#header {
  font-size: 40px;
  margin-bottom: 30px;
}
h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}
body {
  background-size: 1920px 1080px;
  background-color: #afd485;
  font-family:sans-serif; 
}
h3 {
  font-size: 60px;
  padding-bottom: 5px;
  border-bottom: 3px solid black;
  margin: 0;
}
.container {
  border: 3px solid black;
  border-radius: 15px;
  margin: 20px;
  height: 954px;
  background-color: white;
  padding: 40px;
}
.main-container {
  display: flex;
  margin-top: 50px;
  max-height: 800px;
}
.friends-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
#friendList {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  overflow-y: auto;
  margin-left: 10px;
  margin-right: 10px;
}
#friendList div {
  border-bottom: 2px solid black;
  padding: 20px;
}
h4 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px;
}
p {
  font-size: 30px;
  margin: 0px;
  font-weight: 600;
  color: gray;
}
.messager-container {
  display: flex;
  flex-direction: column;
  flex: 2;
}
#chat {
  border-bottom: 2px solid black;
  max-height: 530px;
  
  overflow-y: auto;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
#chat p{
  font-size: 40px;
  padding: 10px;
  text-align: center;
}
.chat_container div{
  margin: 15px;
  padding: 10px;
  font-size: 30px;
  max-width: 500px;
  overflow-wrap: break-word;
  clear: both;
  border-radius: 30px;
}
.sent-message{
  color: rgb(0, 0, 0);
  border: 3px solid #afd485;
  background-color: #afd48593;
  display: inline-block;
  float: right;
}
.received-message{
  float: left;
  color: rgb(0, 0, 0);
  border: 3px solid #afd48593;
}
#message-container {
  display: flex;
  margin: 20px;
}
#message {
  border: 3px solid rgb(197, 197, 197);
  border-radius: 15px;
  margin-right: 10px;
  width: auto;
  padding: 10px;
  font-size: 30px;
  flex: 1;
}
.send {
  border: 3px solid #808080;
  font-size: 30px;
  border-radius: 15px;
  background-color: rgb(197, 197, 197);
  color: white;
  cursor: pointer;
  padding: 10px;
  width: 100px;
  margin: 0;
}
.send:hover {
  background-color:  #808080;
}